# This is to double check that PySpark is working!

In [3]:
%pip install pyspark

Requirement already satisfied: pyspark in c:\users\jayden\appdata\local\programs\python\python39\lib\site-packages (3.3.0)
Requirement already satisfied: py4j==0.10.9.5 in c:\users\jayden\appdata\local\programs\python\python39\lib\site-packages (from pyspark) (0.10.9.5)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pyspark

In [2]:
import pandas as pd
pd.read_csv('pysparktest.csv')

     Name  Age
0  Jayden   23
1   Shawn   27
2     Bob   25
3  Jeremy   40
4  Joseph   23

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.appName('Practice').getOrCreate()

In [6]:
spark

In [15]:
df_pyspark = spark.read.csv('pysparktest.csv')

In [19]:
df_pyspark = spark.read.option('header', 'true').csv('pysparktest.csv')

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [22]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)