# Spark DataFrame Basics

In [2]:
from pyspark.sql import SparkSession

In [10]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [13]:
df = spark.read.json('people.json')

In [15]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [17]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [19]:
df.columns

['age', 'name']

In [22]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [23]:
from pyspark.sql.types import StructField, StringType, IntegerType, StructType

In [24]:
data_schema = [StructField('age', IntegerType(), True),
                StructField('name', StringType(), True)]

In [25]:
final_struc = StructType(fields=data_schema)

In [26]:
df = spark.read.json('Python-and-Spark-for-Big-Data-master\Spark_DataFrames\people.json', schema=final_struc)

In [29]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [31]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [33]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [36]:
df.select(['age', 'name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [39]:
df.withColumn('newAge', df['age']+3).show()

+----+-------+------+
| age|   name|newAge|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    33|
|  19| Justin|    22|
+----+-------+------+

In [41]:
df.withColumnRenamed('age', 'my_new_age').show()

+----------+-------+
|my_new_age|   name|
+----------+-------+
|      null|Michael|
|        30|   Andy|
|        19| Justin|
+----------+-------+

In [43]:
df.createOrReplaceTempView('people')

In [45]:
results = spark.sql("SELECT * FROM people")

In [47]:
results.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [48]:
new_results = spark.sql("SELECT * FROM people WHERE age=30")

In [49]:
new_results.show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+